/* Side Navbar */
nav {
  text-align: center;
  background-color: darken($secondary-color, 10%);
  .nav-wrapper {
    height: auto !important;
  }
  a {
    color: #fff;
  }
  ul {
    li {
      &:hover {
        background-color: $primary-color !important;
      }
      a {
        @include lead-font(1.25rem, 300);
        color: #fff;
      }
    }
  }
  .nametitle {
    color: #fff !important;
    font-size: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 50px;
    height: 50px;
    top: 0.3rem;
    position: relative;
  }
  .sm-links {
    margin: 4rem auto 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    a {
      color: #fff;
      &:hover {
        color: $primary-color;
        background-color: transparent;
      }
    }
  }
}
.side-nav {
  background-color: $dark-grey;
  h5 {
    margin-bottom: 2rem;
    color: $primary-color;
  }
  li {
    &:nth-child(1) {
      margin-top: 4rem;
    }
    a {
      color: #fff;
    }
  }
  .sm-links a {
    color: #fff;
  }
}
@media (min-width: 768px) AND (max-width: 999px) {
  nav {
    position: fixed;
    ul li {
      margin-top: 1rem;
    }
  }
  .nametitle {
    border-radius: 50%;
    background-color: $primary-color;
  }
}
@media (min-width: 1000px) {
  nav {
    position: fixed;
    width: 20%;
    height: 100vh;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    ul li {
      float: none;
      margin-top: 1rem;
    }
  }
  .nametitle {
    margin: 8rem auto 5rem auto !important;
    border-radius: 50%;
    background-color: $primary-color;
  }
}
